name: CI for PR and master pushes

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  CI_Workflow:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Yarn install
      run: yarn install
    - name: Yarn lint
      run: yarn lint
    - name: Yarn prettier
      run: yarn prettier-check
    - name: Yarn build
      run: yarn build
